---js
const eleventyNavigation = {
	key: "Crie",
	order: 3
};
---
<section class="hero-section">
	<div class="container">
		<h1>Crie Seu Rolê</h1>
		<p>Crie o seu rolê que nós te ajudamos a fazer acontecer. Que tipo de rolê você quer criar:</p>
	</div>
</section>

<section class="role-types-section">
	<div class="container">
		<ul class="role-types-menu">
			<li><a href="#aleatorio">Rolê aleatório</a></li>
			<li><a href="#publico">Rolê público</a></li>
			<li><a href="#espontaneo">Rolê espontâneo</a></li>
			<li><a href="#descoberta">Rolê de descoberta</a></li>
			<li><a href="#colaborativo">Rolê colaborativo</a></li>
			<li><a href="#tematico">Rolê temático</a></li>
			<li><a href="#privado">Rolê privado</a></li>
			<li><a href="#intimo">Rolê íntimo</a></li>
			<li><a href="#sintonia">Rolê de sintonia</a></li>
			<li><a href="#reconexao">Rolê de reconexão</a></li>
			<li class="role-type-outros"><a href="#outros">Outros tipos</a></li>
		</ul>
	</div>
</section>
